{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="container mt-2 text-center">
        <h1 class="display-1">Hello <span class="text-muted">@{{ user.username }}</span></h1>
    </div>
    <br>
    <!-- Centered Form Container -->
    <div class="container d-flex justify-content-center align-items-center min-hw-100">
        <div class="card shadow p-4 w-50">
            <h2 class="text-center mb-4">Update Profile</h2>
            <form action="" method="post" class="form">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control w-100" required>
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Current Password</label>
                    <input type="password" name="cpassword" id="cpassword" class="form-control w-100" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">New Password:</label>
                    <input type="password" name="password" id="password" class="form-control w-100">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" value="{{ user.name }}" class="form-control w-100">
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <input type="submit" value="Update" class="btn btn-primary">
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
